{% extends 'header.html' %}

{% block body %}
  <p><h1> {{title}} </h1></p>
  <hr> 
  <h2>Posts:</h2>
  <table>
  {% if posts|length == 0 %}
    <h3>No posts yet for this topic. Be the first to post :)</h3>
  {% else %}
    {% for post in posts %}
      <code>{{post.text}}</code><br>
      <h6>Posted by : {{ post.created_by.username }} | At: {{ post.created_on }}</h5>
      <hr>
    {% endfor %}
  {% endif %}
  </table>
  {% if session.logged_in %}
    <form action="{{ url_for('forum') }}/{{ id }}" method=post>
      <textarea name="comment" cols="50" rows="10"></textarea><br>
      <button class="btn btn-default" type="submit">Post</button>
    </form>
  {% else %}
    Please log in / create account to be able to post comments.
  {% endif %}
{% endblock %}